.banner-container {
    background-image: url('https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    
    min-height: 550px; /* Hoáº·c 100vh cho full screen */
    width: 100%;
    padding: 50px;
    position: relative;

    h1, blockquote {
        max-width: 600px !important ;
    }
}
