server:
  port: 8888

app:
  api-prefix: /api/v1
  n8n:
    base-url: https://n8n.sirobabycloud.io.vn
    webhook-path: /webhook/dcd3f279-f229-4918-bbb7-d957438913c1
    auth-header: Basic bGVhcm5vdmE6MTk0MjAwNEB0aWVhbmgxOTQyMDA0


logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty.http.client: DEBUG

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
              - learnova.t9tieanh.io.vn
            allowedMethods:
              - POST
              - GET
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: user
          uri: http://user-service:8080
          predicates:
            - Path=${app.api-prefix}/user/**, ${app.api-prefix}/user**, ${app.api-prefix}/auth**, ${app.api-prefix}/auth/**, ${app.api-prefix}/self**, ${app.api-prefix}/self/**, ${app.api-prefix}/instructor**, ${app.api-prefix}/instructor/**
          filters:
            - StripPrefix=2

        - id: course
          uri: http://course-service:8081
          predicates:
            - Path=${app.api-prefix}/learning/**, ${app.api-prefix}/learning**
          filters:
            - StripPrefix=3

        - id: sale
          uri: http://sale-service:8083
          predicates:
            - Path=${app.api-prefix}/sale/**, ${app.api-prefix}/sale**
          filters:
            - StripPrefix=3

        - id: notify
          uri: http://notification-service:8082
          predicates:
            - Path=${app.api-prefix}/notify/**, ${app.api-prefix}/notify**
          filters:
            - StripPrefix=2
            - AddResponseHeader=X-Gateway, passed

        - id: chatbot
          uri: ${app.n8n.base-url}
          predicates:
            - Method=POST
            - Path=${app.api-prefix}/chat-bot
          filters:
            - SetPath=${app.n8n.webhook-path}
            - SetRequestHeader=Authorization, ${app.n8n.auth-header}
            - SetRequestHeader=Content-Type, application/json
            - SetRequestHeader=User-Agent, Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
