server:
  port: 8888

app:
  api-prefix: /api/v1

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty.http.client: DEBUG

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: user
          uri: http://localhost:8080
          predicates:
            - Path=${app.api-prefix}/user/**, ${app.api-prefix}/user**, ${app.api-prefix}/auth**, ${app.api-prefix}/auth/**
          filters:
            - StripPrefix=2

        - id: course
          uri: http://localhost:8081
          predicates:
            - Path=${app.api-prefix}/learning/**, ${app.api-prefix}/learning**
          filters:
            - StripPrefix=3

        - id: notify
          uri: http://localhost:8082
          predicates:
            - Path=${app.api-prefix}/notify/**, ${app.api-prefix}/notify**
          filters:
            - StripPrefix=2
