.header-container {
    // .tab-page {
    //     font-weight: 400 !important;
    //     font-size: 1rem !important; /* text-base */
    //     color: hsl(217, 63%, 59%) !important;
    // }

    background-color: #E6F3FA;
}