.course-purchase-container {
    .course-purchase-content {
        .included-in-course {
            margin: 10px;
            padding: 20px;
            border: solid 1px #e5e7eb;
            border-radius: 20px;
        }
    }
}