.cart-banner {
    background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    
    min-height: 350px; /* Hoặc 100vh cho full screen */
    width: 100%;
    padding: 50px;
    position: relative;
}