.trending-categories-container {
    background-image: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    
    min-height: 200px; /* Hoáº·c 100vh cho full screen */
    position: relative;

    .categories-card {
        background-color: rgba(0, 0, 0, 0);
        .category-img {
            object-fit: cover;
            border-radius: 12px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .category-title {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
        }
    }

    .title-categories {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding: 0.1%;
        border-radius: 20px;
    }
}